{% include 'base.html' %}
{% include 'navegacao.html' %}


{% block context %}
<h1 class="text-center" style="margin-top: 50px;">Sobre Nós</h1>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h1 class="strong">Nossa Missão</h1>
            <p class="lead">Promover saúde e bem-estar, proporcionando tratamentos de qualidade e cuidados personalizados.</p>
        </div>
        <div class="col-md-6">
            <p>Bem-vindo à nossa clínica! Somos um centro de saúde dedicado a oferecer serviços médicos de excelência, combinando tecnologia avançada, profissionais qualificados e um atendimento humanizado. Localizada estrategicamente em uma região de fácil acesso, nossa estrutura foi projetada para garantir conforto e segurança a todos os pacientes.</p>
        </div>

        <div class="row">
            <div class="site-heading text-center">
                <h3>Nossa Equipe</h3>
                <p>Nossa equipe é composta por profissionais altamente capacitados e com vasta experiência, comprometidos com o cuidado integral do paciente.</p>
                <div class="border"></div>
            </div>
        </div>
    </div>
</div>

{% endblock context %}
{% include 'rodape.html' %}