{% include 'base.html' %}
{% include 'navegacao.html' %}
{% block content %}
<div>
    <br>
    <h2 class="text-center"> Visualizar Pacientes</h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>

                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>Documento</th>
                <th>Genêro</th>
                <th>Endereço</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pacientes %}
            <tr>
                <td>{{i.nome_paciente}}</td>
                <td>{{i.data_nascimento}}</td>
                <td>{{i.celular}}</td>
                <td>{{i.documento}}</td>
                <td>{{i.genero}}</td>
                <td>{{i.endereco}}</td>
                <td><a href="{% url 'editar_pacientes' i.id %}" class="btn btn-warning">Editar</a></td>
                <td><a href="{% url 'deletar_pacientes' i.id %}" onclick="return confirm('Deseja relamente Deletar?')" class="btn btn-danger">Delete</a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content%}
{% include 'rodape.html' %}